{%extends "homepage.html" %}

{%block content%}
<h1>Make Payment </h1>
<form method="post">
    {%csrf_token%}
<table class="table">
    <tr><td>Enter Card No.</td>
    <td><input type="text" name="cardno" placeholder="Card no." class="form-control" required/></td></tr>
    <tr><td>Enter Cvv</td>
        <td><input type="text" name="cvv" class="form-control" placeholder="CVV" required/></td></tr>

        <tr><td>Enter Expiry</td>
            <td><input type="text" name="exp" placeholder="Expiry" class="form-control" required/></td></tr>
        <tr>
            <tr> 
                <td> Total Amount </td>
                <td> {{request.session.total}} </td>
            </tr>
<td><button type="submit" class="btn btn-success"> Make Payment </button></td>
</tr>
</table>
</form>
{%endblock%}